<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define UpgradeGuid="B130A907-099C-403B-92A1-E68CE1664940" ?>
  <?define Version="0.9.0"?>
  
  <Product Id="F73FB7B3-F034-4DDA-B968-BBE568FAF2C9" Name="UntisExportService" Language="1033" Version="$(var.Version)" Manufacturer="SchulIT" UpgradeCode="$(var.UpgradeGuid)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <Media Id="1" Cabinet="data.cab" EmbedCab="yes" />

    <!-- Icon for Programs & Features -->
    <Icon Id="icon.ico" SourceFile="icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    
    <!-- APPLICATION DIRECTORY -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="APPLICATIONFOLDER" Name="SchulIT">
          <Directory Id="INSTALLLOCATION" Name="UntisExportService">
            <Directory Id="Service" Name="Service">
              <Component Id="ServiceComponent" Guid="17B2D2A2-4250-4598-BD9D-F26D767DC459" Win64="yes">
                <File Name="Autofac.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                <File Name="HtmlAgilityPack.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                <File Name="Microsoft.Extensions.Configuration.Abstractions.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                <File Name="Microsoft.Extensions.Configuration.Binder.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                <File Name="Microsoft.Extensions.Configuration.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                <File Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                <File Name="Microsoft.Extensions.Logging.Abstractions.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                <File Name="Microsoft.Extensions.Logging.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                <File Name="Microsoft.Extensions.Options.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                <File Name="Microsoft.Extensions.Primitives.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                <File Name="NLog.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                <File Name="NLog.Extensions.Logging.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                <File Name="SchulIT.UntisExport.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                <File Name="System.Buffers.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                <File Name="System.Memory.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                <File Name="System.Numerics.Vectors.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                <File Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                <File Name="UntisExportService.Core.dll" Source="$(var.UntisExportService.Service.TargetDir)" />
                
                <File Id="UntisExportService.Service.exe" Name="UntisExportService.Service.exe" Source="$(var.UntisExportService.Service.TargetDir)" KeyPath="yes" />
                <File Id="nlog.config.service" Name="nlog.config" Source="$(var.UntisExportService.Service.TargetDir)" />

                <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Name="UntisExportService" DisplayName="UntisExportService" Description="Starts UntisExportService" Start="auto" Account="[SERVICEACCOUNT]" Password="[SERVICEPASSWORD]" ErrorControl="normal"/>
                <ServiceControl Id="StartService" Stop="both" Remove="uninstall" Name="UntisExportService" Wait="yes" />
              </Component>
            </Directory>

            <Directory Id="INSTALLFOLDER" Name="Console" />
          </Directory>
        </Directory>
      </Directory>

      <!-- STARTMENU -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="MyShortCutsDir" Name="UntisExportService">
          <Component Id="ConsoleShortCutComponent" Guid="E64C8002-6CCC-4023-AFF6-940BD0B75E15">
            <Shortcut Id="ConsoleShortCut" Name="UntisExportService Console" Target="[INSTALLLOCATION]\Console\UntisExportService.Console.exe" Icon="icon.ico" />
            <RemoveFolder Id="RemoveConsoleShortCut" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\SchulIT\UntisExportService\Console" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ServiceFeature" Title="!(loc.FeatureService)" Level="1">
      <ComponentRef Id="ServiceComponent"/>
    </Feature>

    <Feature Id="ConsoleFeature" Title="!(loc.FeatureConsole)" Level="1">
      <ComponentGroupRef Id="SourceComponentGroup" />

      <Feature Id="ConsoleShortcutFeature" Title="!(loc.FeatureShortcut)" Level="1">
        <ComponentRef Id="ConsoleShortCutComponent"/>
      </Feature>
    </Feature>

    <!-- PREVENT DOWNGRADING -->
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeImpossible)" />

    <UIRef Id="WixUI_Advanced" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Property Id="ApplicationFolderName" Value="SchulIT" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    <WixVariable Id="WixUILicenseRtf" Value="Eula.rtf" />

    <SetDirectory Id="APPLICATIONFOLDER" Value="[ProgramFiles64Folder][ApplicationFolderName]">APPLICATIONFOLDER=""</SetDirectory>
	</Product>
</Wix>
