<nlog>
  <targets>
    <target type="EventLog" errorStream="true" name="eventLogTarget" layout="${message}${newline}${exception:format=ToString}" />
    <target type="ColoredConsole" errorStream="true"  enableAnsiOutput="true"  name="consoleTarget" layout="${longdate}|${level:uppercase=true}|${logger}: ${message} ${exception}" />
    <target type="File" errorStream="true" name="fileTarget" layout="${longdate}|${level:uppercase=true}|${logger}: ${message} ${exception}" maxArchiveDays="30" archiveEvery="Day" keepFileOpen="True"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="fileTarget" />
  </rules>
</nlog>