<nlog>
  <targets>
    <target type="File" writeBom="true" encoding="utf-8" fileName="service.log" name="fileTarget" layout="${longdate}|${level:uppercase=true}|${logger}: ${message} ${exception}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="fileTarget" />
  </rules>
</nlog>